.logo {
 height: 40px;
 width: 40px;
}
.link {
  text-decoration: none;
}
.link-comp {
  color: inherit;
}
.link-head {
  color: #e9ecef;
}
.link-comp:hover {
  color: #000;
}
.body {
  margin-top: 100px;
}
.res-list {
  flex-wrap: wrap;
}
.res-card {
  margin: 0px 10px 10px 0px;
  width: 300px;
}
.menu-card {
  padding: 10px;
  margin: 5px;
  width: 600px;
}
.res-card:hover {
  border: 2px solid #afafaf;
  cursor: pointer;
}
.text-format {
  padding: 5px 0px;
  font-size: medium;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.res-name {
  font-weight: 600;
}
.res-cuisines, .res-cost {
  font-size: small;
  font-weight: 400;
  height: 50px;
}
.crousel-card {
  margin-right: 10px;
  cursor: pointer;
}
.crousel-card:hover {
  transform: scale(1.1);
  transition: transform .9s ease;
}
.crousel {
  background-color: #282c3f;
  padding: 10px;
  margin-bottom: 10px;
}
.filter {
  border: 1px solid #afafaf;
  padding: 10px;
}
.search {
  padding: 10px 0px 10px 0px;
  width: 50%;
}
.contact, .about, .resturant {
  margin-top: 120px;
}
.dummy {
  background-color: #e7e2e2;
  padding: 8px 0px 8px 0px;
}
.d-short {
  margin-right: 50px;
}
.d-half {
  margin-right: 80px;
}
.category {
  border: 1px solid #e7e2e2;
  padding: 5px;
}
.menu-item {
  padding: 10px;
}
.mi-left {
width: 70%;
}
.mi-right {
  width: 30%;
}
.menu-item-text {
  font-size: small;
  font-weight: 600;
  color: #3e4152;
}
.menu-item-des {
  font-size: 0.8rem;
  color: rgba(40,44,63,.45)
}
.menu-item-img {
  width: 100px;
  height: 100px;
}